<ion-header>
  <ion-navbar>
    <ion-title>Explorer View</ion-title>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <p>Current location is {{currentLocation[0]}}</p>
  <p>Vicinity of {{currentLocation[1]}}</p>


  <!--<ion-list>-->

    <!--<ion-item *ngFor="let poi of foundPOI" (click)="openPlaceDetails(poi.placeid)">-->
      <!--<ion-avatar item-start>-->
        <!--<img src="{{poi.icon}}">-->
      <!--</ion-avatar>-->
      <!--<h2>{{poi.name}}</h2>-->
      <!--<h3>{{poi.address}}</h3>-->
      <!--<p>{{poi.distance}} {{distUnit}}</p>-->
    <!--</ion-item>-->



  <!--</ion-list>-->

  <ion-list *ngFor="let typeContainer of selectedPOIContainer">
    <ion-list-header *ngIf=" typeContainer.POI.length>0" >
      {{typeContainer.type.toUpperCase()}} - {{typeContainer.POI.length}} results
    </ion-list-header>



    <!--<ng-template #MoreThanTwentyResults >-->
      <!--<ion-list-header *ngIf= "typeContainer.POI.length>0" >-->
        <!--{{typeContainer.type.toUpperCase()}} - 20+ results-->
      <!--</ion-list-header>-->
    <!--</ng-template>-->

    <ion-item *ngFor="let poi of typeContainer.POI" (click)="openPlaceDetails(poi.placeid)">
      <ion-avatar item-start>
        <img src="{{poi.icon}}">
      </ion-avatar>
      <h2>{{poi.name}}</h2>
      <h3>{{poi.address}}</h3>
      <p>{{poi.distance}} {{distUnit}}</p>
    </ion-item>


  </ion-list>


  <button ion-button (click) = "getAllUserPOI()">Refresh</button>



</ion-content>

